.note, .add-actions {
  width: 225px;
  height: 225px;
  margin: 20px;
  float: left;
  padding: 10px;

  position: relative;
}

.add-actions {
  p {
    position: absolute;
    top: 50%;
    height: 3em;
    margin-top: -1.5em;
  }
}

.note {
  border: 1px solid black;

  list-style: none;

  input[type=text], textarea {
    border: none;
    background: none;

    &:focus {
      outline: none;
    }
  }

  .title-container {
    height: 25px;
    line-height: 25px;

    margin-bottom: 10px;
    border-bottom: 1px solid black;

    .note-title {
      font-size: 17px;
      font-weight: bold;
    }
  }

  .body {
    width: 100%;
    height: 165px;

    .note-content {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }

  .editing-footer {
    display: none;
  }

  .normal-footer {
    color: gray;
    border-top: 1px solid black;
    padding-top: 10px;
    font-size: 0.8em;
  }

  .destroy-note {
    position: absolute;
    top: 7px;
    right: 5px;
    display: none;
  }

  &:hover {
    .destroy-note {
      display: block;
    }
  }

  &.editing {
    border-color: blue;

    .editing-footer {
      display: block;
    }

    .normal-footer {
      display: none;
    }
  }

  &.error {
    border-color: red;
  }
}
